.continue-p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #555;
  }
  
  .google-login {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .google-logo {
    width: 20rem; /* Adjust the size as needed */
    transition: transform 0.3s ease;
  }
  
  .google-login:hover .google-logo {
    transform: scale(1.1);
  }
  